<div class="layui-fluid bgColor">
    <div class="layui-row RegisterDoctorInfo">
        <div class="layui-col-xs12 layui-col-md12 layui-col-sm12">
            <a href="" class="logo" id="logo" title="大白宠物医院"></a>
            <p class="logo-text">
                <span>数千万志愿者社区</span>
                <span class="bor-l-r"><b>百万</b>+认证志愿者</span>
                <span class="last">每日<b>500</b>+志愿者项目活动</span>
            </p>
            <a href="{:url('/index');}" class="return-home">返回时间树</a>
        </div>
    </div>
</div>
